.main-header
  %h3.main-header__group
    = @group.name
  %p.main-header__member
    Member:
    - @group.users.each do |user|
      = user.name
  .main-header__right
    = link_to "Edit", edit_group_path(@group), class: "main-header__right__btn", data: {"turbolinks" => false}

.main-content
  = render @messages

.chat-box
  .chat-box__form
    = form_for [@group, @message] do |f|
      .chat-box__form__in
        = f.text_field :content, class:"chat-box__form__input", placeholder:"type a message"
        = f.label :image, class: "chat-box__form__input__img" do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat-box__form__submit'
